body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Sofia'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 , h4 ,span , a {
  color: #66BFBF;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

p , span , a  {
  font-family: 'Cantarell', sans-serif;
  line-height: 1.5rem;
}

